.container {
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 8px 0px;
  min-width: 300px;
}
.card__new {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 20px;
  right: 10px;
  width: 120px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 8px 0px;
}
.card__body {
  padding: 15px 20px;
}
.card__body h3 {
  padding: 2px;
  margin: 0px;
}
.card__img {
  height: 200px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-heart-container .card-heart {
  position: absolute;
  font-size: 35px;
}
.card-heart-container .card-heart--hover {
  color: transparent;
}
.card-heart-container .card-heart--hover :hover {
  background-image: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
}

.btn-primary {
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
}

.text-primary {
  color: #9356DC;
}

.bg-primary {
  background-color: #9356DC;
}

.text-secondary {
  color: #FF79DA;
}

.bg-secondary {
  background-color: #FF79DA;
}

.text-tertiary gradient {
  color: linear-gradient(to top, #9356DC 50%, #FF79DA 50%);
}

.bg-tertiary gradient {
  background-color: linear-gradient(to top, #9356DC 50%, #FF79DA 50%);
}

.text-grey {
  color: #D3D3D3;
}

.bg-grey {
  background-color: #D3D3D3;
}

.text-grey-medium {
  color: #666666;
}

.bg-grey-medium {
  background-color: #666666;
}

.text-light-grey {
  color: #f6f6f6;
}

.bg-light-grey {
  background-color: #f6f6f6;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.text-green {
  color: #99e2d0;
}

.bg-green {
  background-color: #99e2d0;
}

.text-dark-green {
  color: #159475;
}

.bg-dark-green {
  background-color: #159475;
}

.text-dark-grey {
  color: #353535;
}

.bg-dark-grey {
  background-color: #353535;
}

.primary-container .card-menu {
  border-radius: 20px;
  padding: 3px;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 8px 0px;
}
.primary-container .card-menu:hover {
  background-color: #f2eafb;
}
.primary-container .card-menu__body {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 30px;
}
.primary-container .card-menu__body-number {
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -25px;
}

.secondary-container .card-menu {
  border-radius: 20px;
  padding: 3px;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 8px 0px;
}
.secondary-container .card-menu .card-menu__body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding: 15px;
}
.secondary-container .card-menu__text p {
  padding: 0;
  margin: 0;
  padding: 2px;
}
.secondary-container .card-menu__text--row {
  display: flex;
  flex-direction: row;
}
.secondary-container .card-menu__text--bold {
  margin-left: auto;
}

.btn-primary {
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 50px;
  padding: 2px;
  margin: 10px;
  max-width: 300px;
  min-width: 200px;
}

.btn-secondary {
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 50px;
  padding: 2px;
  margin: 10px;
  max-width: 300px;
  min-width: 200px;
}

.btn-tertiary gradient {
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 50px;
  padding: 2px;
  margin: 10px;
  max-width: 300px;
  min-width: 200px;
}

.btn-grey {
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 50px;
  padding: 2px;
  margin: 10px;
  max-width: 300px;
  min-width: 200px;
}

.btn-grey-medium {
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 50px;
  padding: 2px;
  margin: 10px;
  max-width: 300px;
  min-width: 200px;
}

.btn-light-grey {
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 50px;
  padding: 2px;
  margin: 10px;
  max-width: 300px;
  min-width: 200px;
}

.btn-white {
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 50px;
  padding: 2px;
  margin: 10px;
  max-width: 300px;
  min-width: 200px;
}

.btn-green {
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 50px;
  padding: 2px;
  margin: 10px;
  max-width: 300px;
  min-width: 200px;
}

.btn-dark-green {
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 50px;
  padding: 2px;
  margin: 10px;
  max-width: 300px;
  min-width: 200px;
}

.btn-dark-grey {
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 50px;
  padding: 2px;
  margin: 10px;
  max-width: 300px;
  min-width: 200px;
}

body {
  font-family: "Roboto", sans-serif;
}

h4, h5, h6 {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 400;
}

.card-menu__text p {
  font-size: 20px;
}
.card-menu__text--row p {
  font-size: 17px;
}

.card-menu__body {
  font-size: 20px;
}

/*# sourceMappingURL=styles.css.map */
