

.btn {
  display: flex;
  justify-content: center;
  padding: 80px;

  &-real {
    min-width: 250px;
    border-radius: 50px;
    transition: 1s;
    cursor: pointer;
    border: 0px;
    font-size: 1.3rem;
    padding: $padding-btn;
    background: linear-gradient(to top, $primary, $secondary);
    @include content-center;
    color: #fff;
    box-shadow:$box-shadow-btn;
    font-family: $font;
      
  }

  :hover{
    box-shadow:$box-shadow-dark;
    background: linear-gradient(to top, rgba($primary, 0.9), rgba($secondary, 0.9));
  }
}
