
@mixin primary-btn {
  cursor: pointer;
    text-align: center;
    color: white;
    border-radius: $border-radius-50;
    padding: $padding-2;
    margin: $margin-10;
    max-width: $max-width-btn;
    min-width: $min-width-btn;
}

.btn-container {
  @include content-center;
  padding: $padding-80;
}

.btn {
  
  
  &__primary {
    border: none;
  cursor: pointer;
  background-image: linear-gradient(to top left, $primary, $secondary);
  @include primary-btn();
  font-size: 0.9rem;
  font-weight: 300;
  box-shadow: $box-shadow;

  h3 {
    font-family: $font;
  }


  &:hover{
    box-shadow: $box-shadow-hover;
      opacity: 0.9;
      transition: 1s;
  } 
  }
}