// This is the primary button



.btn-container {
  @include content-center;
  padding: $padding-80;
}

.btn {

  
  &__primary {
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to top left, $primary, $secondary);
    @include primary-btn();
    font-size: $font-size-btn;
    font-weight: $font-weight-light;
    box-shadow: $box-shadow;
    padding: 20px;

  h3 {
    font-family: $font;
  }


  &:hover{
    box-shadow: $box-shadow-hover;
      opacity: $btn-opacity;
      transition: 1s;
  } 
  }
}