@mixin border-card ($radius:20px){
  border-radius: $radius;
  box-shadow: $box-shadow;
}

@mixin card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    
a {
  text-decoration: none;
  color: black;
}

.card-container {
  padding: 7px;
}

.card {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  @include display-flex(column);
  @include border-card ();
  min-width: $min-width-card;

   &__new {
    position: absolute;
   @include display-flex(row);
    top: 20px;
    right: 10px;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    @include border-card ($radius:5px);
  
   }

   &__body {  
    padding: 15px 20px; 
    @include display-flex(row);
    justify-content: space-between;
    background-color: white;
    

    h3 {
      padding: 2px;
      margin: 0px;
    }

   }

   &__img {
    height: $height-card-img;
  }

    img {
      @include card-img;
    }
   
}



.heart-container { 
    .heart {
      margin-left: -30px;
      position: absolute;
      font-size: 30px;
      
    }

    .heart--hover {
      color: transparent;
      
      
       :hover {
        transition:all 2s ease;
         background-image: -webkit-linear-gradient(#9356DC, #FF79DA);
         -webkit-background-clip: text;
         background-clip: text;
          }
   }


}




