

.footer__text {
    :hover {
        color: $primary;
    }
}


.footer__logo {
    gap: $gap-10;
    padding: 20px;

    .body-container {
        @include display-flex(column);
    }
}

.footer__lg {
    @include display-flex(row);
    align-items: flex-start;
    gap:$gap-5;
}


.footer__icon  {
    width: $width-5;
    height: $height-5;
    margin-right: $margin-right-15;
  
}


