body {
    margin: 0;
    padding: 0;
}

.body-container {
    max-width: 1340px;
    margin: auto;
}
.menu-header__logo {
    box-sizing: border-box;
}

.menu-header {
    
    background-color: white;
    max-width: 100%;
    @include display-flex(row);
    justify-content: center;

    &__arrow {
        position: relative;
        left: 20px;
        font-size: 1.3rem;
        top: 20px;
    }
    
    &__logo {
        @include display-flex(row);
        height: 100%;
        padding: 15px

}

}

.menu-header__logo {
    @include display-flex(row);
    justify-content: center;
    width: 100%;

    & img {
        width: 200px;
    }

}


// The is header on homepage 
.header {

    &__icon {
        @include content-center;
        gap: $gap-10;
    }

    &__text {
        @include content-center;
        @include display-flex(column);
        text-align: center;
        padding: $padding-30;
       
    }
    
}

.header__border {
    border-top: 2px grey solid;
}


//This is background for header 

.menu-item__background {
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 75%,rgb(255, 255, 255) 100%), url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    @include background;
}

.menu-item__background-2 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 75%,rgb(255, 255, 255) 100%), url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    @include background;
}

.menu-item__background-3 {
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 75%,rgb(255, 255, 255) 100%), url("/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    @include background;
}

.menu-item__background-4 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0) 75%,rgb(255, 255, 255) 100%), url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}