body {
    margin: 0;
    padding: 0;
}

.logo {
    @include content-center;
    height: $logo-height;
    padding: $padding-15;
    img {
        max-width:100%;
        max-height:100%;
    }
    
}

// The is header on homepage 
.header {

    &__icon {
        @include content-center;
        gap: $gap-10;
    }

    &__text {
        @include content-center;
        @include display-flex(column);
        text-align: center;
        padding: $padding-30;
       
    }
    
}

