body {
    margin: 0;
    padding: 0;
}

.menu-header {
    position: absolute;
    background-color: white;
    width: 100%;
    @include display-flex(row);
    justify-content: center;

    &__arrow {
        position: absolute;
        left: 20px;
        font-size: 1.3rem;
        top: 20px;
    }
    
    &__logo {
        width: 180px;
        height: 100%;
        padding: 15px


        // @include content-center;
        // height: $logo-height;
        // padding: $padding-15;
        // img {
        //     max-width:100%;
        //     max-height:100%;
        // }     

}

}

// The is header on homepage 
.header {

    &__icon {
        @include content-center;
        gap: $gap-10;
    }

    &__text {
        @include content-center;
        @include display-flex(column);
        text-align: center;
        padding: $padding-30;
       
    }
    
}

