@media screen and (max-width: 992px) {
    .lg-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .menu-item__container {
            max-width: 900px;
            min-width: 300px;
        }
    }

    .menu-header {
        max-width: 800px;
    }

    

}

@media screen and (min-width: 992px) {
    .lg-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .menu-item__container {
            min-width: 950px;
        }

    }

    
     .flex-row-lg {
        display: flex;
        background-color: red;
        flex-wrap: wrap;
    }

    .cards {
        display: flex;
        flex-direction: row;
    }

    .cards-md {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $gap-20;
        width: 100%;

        }


        .card-container {
            flex-grow: 1;
        }
    }


    
