@media screen and (max-width: 992px) {
    .lg-container {
        max-width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .menu-header {
        min-width: 800px;
    }

 
}

@media screen and (min-width: 992px) {
    .lg-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .menu-item__container {
            min-width: 800px;
        }
    
     

    }

    


   
}