@mixin align-items ($align-item) {
    display: flex;
    align-items: $align-item;
}

@mixin display-flex ($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin menu-item-border {
    border-radius: $border-radius;
    padding: 10px;
} 


.primary-container {
    .card-menu {
        
        @include menu-item-border();
    
           &:hover {
            background-color: lighten($primary, 35%);
           }
    }
}

.secondary-container {
    .card-menu {
        @include menu-item-border();
    
           &:hover {
            background-color: lighten($primary, 35%);
           }

           .card-menu__body {
            @include display-flex(row);
            @include align-items(center);
           }

    }
}

.card-menu__text {
    &--row {
        @include display-flex(row);
       }

    &--light {
        margin-left: auto;
    }

}