
// This is card on home page

.primary-container {
    .card-menu {
        @include border();
    
           &:hover {
            background-color: lighten($primary, 35%);
           }

            &__body {
            @include display-flex(row);
            @include align-items(center);
            padding: 10px;
            gap: $gap-30;

            &-number  {
                @include circle-item;
                @include align-items(center);
                justify-content: center;
                margin-left: $margin-left-card;
            
            }

    }
    }
}

//This is secondary card on menu page

.secondary-container {
    .card-menu {
        @include border;

           .card-menu__body {
            @include display-flex(column);
            @include font-style;
            padding: 15px
           }

            &__text {

                p {
                    @include font-style;
                    padding: 2px
                }
                
                &--row {
                    @include display-flex(row);
                }

                &--bold {
                    margin-left: auto;
                }

            }
           

        
        }
        
    }



