.container {
    padding: $padding-30;
}

// This is header on menu items page

.menu-item__img {
        height: $height-card-img-lg;
        object-fit: contain; 
      }
    
        img {
          @include card-img;
          overflow: visible;
          
        } 


// This is the title on menu items 

.menu-item__container {
    border-radius: 30px 30px 0px 0px;
    border: $border-card;
    margin-top: $margin-top-100;
    position: relative;
    @include display-flex(column);
    padding: $padding-15;
    padding-top: 30px;
    box-sizing: border-box;

    .menu-item__title {
     @include display-flex(row);
    justify-content: space-between;
    min-width: 150px;


    }
 
    .heart-container {
        @include display-flex(row);
        align-items: center;
    }
}


// This is item cards on home page


.card-menu-container {
    display: flex;
    flex-direction: column;
    gap: $gap-20;
}

.primary-container {

    .card-menu-text {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        text-align: end;
    }


    .card-menu {
        @include border(20px, 0px, 0px);
        margin-left: 5px;
    
           &:hover {
            background-color: lighten($primary, 35%);
           }

            &__body {
            @include display-flex(row);
            @include align-items(center);
            padding: 10px;
            gap: $gap-30;


            &-number  {
                @include circle-item;
                @include align-items(center);
                justify-content: center;
                margin-left: $margin-left-card;
                font-size: $font-size-sm;
            }

    }
    }
}


//This is menu items card on menu page

.secondary-container {
    @include display-flex(column);
    gap:$gap-15;
    padding: 10px 0;
    
    .card-header {
        padding: 10px 0;
    }


    .card-menu {

        cursor: pointer;
        overflow: hidden;


        &__input {
            display: none
        }

        &__label {
            @include display-flex(row);
           
        }

        @include border($radius: 20px,$border-padding:0px, $border-margin:0px);

           .card-menu__body {
            @include display-flex(column);
            @include font-style;
            flex-grow: 1;
            padding: $padding-15;
           }

           &__title {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
           }


            &__text {

               text-overflow: ellipsis;
               overflow: hidden;
               white-space: nowrap;
               display: flex;
               justify-content: space-between;
               
               


            }

            &__checked {
                width: 0;
                overflow: hidden;
                transition: width 1s;
                background-color: $tertiary;
                @include content-center;
                font-size: $font-size-big;

                
            }
        }
        
    }

    .card-menu {

        :hover {
        cursor: pointer;

        .card-menu__checked {
            width: 70px;
        }

        .card-menu__checked--icon {
            -webkit-transform: icon rotate(360deg);
            transform: rotate(360deg);
        }
            
        }
    }


    .card-menu__checked--icon {
    transition: all 1s;
    transform: transform 1s;
    color: white;
}


.card-header {
        &__border {
            border-bottom: 4px solid $tertiary;
            width: 50px;
            margin-top: -8px;
        }
    
}

//This is the fade in animation 

.secondary-container .card-menu {
    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-iteration-count: 1;
    
   
}

.fade-1 {
    animation-delay: 0s;
   
}

.fade-2 {
    animation-delay: 0.5s;
 
}

.fade-3 {
    animation-delay: 0.8s;

}

.fade-4 {
    animation-delay: 1.2s;

}


@keyframes fade-in {
    0% {
        transform: translateY(0%);
        opacity: 0;

    }



    100% {
        transform: translateY(-10%);
        opacity: 1;
    }
}




